Repository Cheah-WH/Stirling-PDF, pull requests merged in 2024-09, with the labels that each got.

#4 Modified Background Color
  src/main/resources/static/css/login.css
Labels: Front End

#3 Modified HomePage Title
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/templates/fragments/common.html
Labels: Front End, Java, Back End, Security

#5 Add Deployment File
  exampleYmlFiles/docker-compose-staging.yml
Labels: Docker

#6 Modified Body Font Color
  src/main/resources/static/css/home.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/static/css/theme/font.css
Labels: Front End
